<!DOCTYPE html>
<html ng-app="App">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/IndexController.js"></script>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
<h2>Cadastro de alunos</h2>
<div class="container-fluid" ng-controller="IndexController">
	<div class="row">
		<div class="form-group col-sm-6">
			RA: <input type="text" class="form-control" ng-model="aluno.ra">
			Nome: <input type="text" class="form-control" ng-model="aluno.nome">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-sm-6">
			<button class="btn btn-success" ng-click="cadastrar(aluno)">Cadastrar</button>
		</div>
	</div>
	<div class="row">
	
		<table class="table table-striped table-bordered">
			<thead>
				<th>RA</th>
				<th>NOME</th>
			</thead>
			<tbody>
				<tr ng-repeat ="a in alunos">
					<td>{{a.ra}}</td>
					<td>{{a.nome}}</td>
				</tr>
			</tbody>
		</table>	
	</div>
</div>
</body>
</html>